# Flask and related packages
flask
flask-login
flask-wtf
werkzeug
python-dotenv
jinja2

# MongoDB and database
pymongo
flask-bcrypt

# PDF processing
PyPDF2
pypdf
pdf2image
pytesseract
ocrmypdf

# Azure services
azure-ai-formrecognizer
azure-core

# Web API support
fastapi
uvicorn
python-multipart
email_validator
# Utilities
pillow
requests
gunicorn

# Testing and development
pytest
